body{
	margin: 0 auto;
}
#content{
	margin:0 auto;
}

/* HEAD */
h1{
	background: url('../images/LOGO.png') no-repeat scroll 0 0 transparent;
	width: 210px; 
	height: 103px;
	text-indent: -9999px;
	margin: 0 auto;
	float: left;
}
.title{
	margin-top: 30px;
	margin-left: 20px;
	float: left;
	font-size: 34px;
	font-weight: bold;
}


/* End head */

/* list */
.search_form{
	margin-left: 185px;
}


/* End list */