body{
	background: none #262626;
	color: #777;
	font-family: 'Arial Narrow', sans-serif;
}
#psLoginContainer{
	font-size: 13px;
	margin: 100px auto;
	width: 320px;
}
#psLoginContainer h1 a{
	font: normal 37px 'Mouse Memoirs',sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	color:#fff;
	text-shadow:1px 1px 2px #000;
	text-align: center;
}
#psLoginContainer span{
	color:#0095d1;
}
#psLoginContainer form{
	background: none repeat scroll 0 0 #FFFEFE;
    border-radius: 4px;
	box-shadow: 2px 4px 10px #A09999;
    font-weight: normal;
	margin-top: 10px;
    padding: 26px 50px 15px 36px;
}
#psLoginContainer  .form-horizontal .controls{
	margin: 0;
}
#psLoginContainer  .form-horizontal .controls .logIn-btn{
	padding-top: 10px;
}
#psLoginContainer .form-horizontal .control-label{
	margin-bottom: 7px;
	text-align: left;
}
#psLoginContainer  .form-horizontal .controls input[type="text"],input[type="password"]{
	color: #BDBBBB;
	width: 100%;
}
#psAccountContainer{
	clear: both;
	margin-top: 20px;
}
#psAccountContainer #lostPword{
	float: left;
}
#psAccountContainer #newAccnt{
	float: right;
}