body {
	font-family:'Century Gothic', sans-serif;
	font-size:14px;
	margin: 20px;
	}
	.clear{
	clear: both;
	display: block;
}
header{
	position: fixed;
	top: 0;
}
#content-admin-profile{
	margin: 100px;
}
#employee_info{
	float: left;
	line-height: 29px;
}
#content-admin-profile #employee_info input{
	float: right;
	margin-right: 32px;
	margin-top: 50px;
	display: inline-block;
}
#content-admin-profile #profile_pic{
	float: right;
	width: 150px;
}
#content-admin-profile #profile_pic img{
	margin-left: -2px;
}
#content-admin-profile #profile_pic form{
	width:200px;
	margin-top: 10px;
}
#content-admin-profile #profile_pic form input{
	margin-top: 2px;
}
.upload_btn{
	margin-bottom: 20px;
}
#update_add a{
	display: inline;
	font-size: 12px;
	font-family: Arial, sans-serif;
	padding: 3px 8px;
}
.polaroid{
	width: 150px;
	height: 150px;
}