body{
	background-color:#fff;
	font-family: 'Century Gothic',sans-serif;
	font-size: 12px;
	margin:30px;
}
.clear{
	clear: both;
}
#top-title{
	background-color: #262626;
	box-shadow: 1px 1px 5px #777;
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	z-index: 2;
}
#top-title h1{
	color: #fff;
	font-size: 30px;
}
#top-title h1 span{
	color:#0095d1;
}
#top-btn{
	position: fixed;
	top: 0;
	z-index: 2;
	right: 20px;
	margin: 20px;
}
#top-btn a{
	color: #fff;
	text-decoration: none;
}
#top-btn a:hover{
	color: #fff;
}
#top-btn a#refresh-btn{
	background: url(../images/refresh-icon.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	width: 30px;
	height: 35px;
	text-indent: -9999px;
	margin-right: 10px;
}
#top-btn a#back-btn{
	background: url(../images/back-icon.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	width: 30px;
	height: 35px;
	text-indent: -9999px;
	margin-right: 10px;
}
#top-btn a#close-btn{
	background: url(../images/close-icon.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	width: 30px;
	height: 35px;
	text-indent: -9999px;
	margin-right: 25px;
}

#top-wrapper{
	margin: 20px;
}
.page-holder{
	margin: 0 auto;
	width: 960px;
	padding-top: 150px;

}
#content{
	margin: 20px 0 0 20px;	
}
#content .search{
	background-color: #F9F9F9;
    box-shadow: 2px 2px 3px #888888;
    margin: 0 auto;
    padding: 41px;
    width: 384px;
}
#content form label{
	color: #333333;
	display: inline;
	font-size: 12px;
}
.search_label{
	bottom: 10px;
	position: relative;
}
.batch_name{
	padding-left: 28px;
}
select{
	margin: 0 auto;
}
form p{
	color: #000;
	font-size: 12px;
	text-align: center;
}
.btn {
    position: relative;
    right: 20px;
}
.batch{
	color:#000;
	font-size: 13px;
	float: right;
}
.batch span{
	font-weight: bold;
}
#search-btn{
	margin-left: 40px;
}
hr{
	color: #262626;
	margin-bottom: 20px;
	margin-top: 20px;
}
.employee label{
	color: #000;
	font-size: 13px;
	cursor: default;
}
.employee span{
	color: #000;
	font-size: 13px;
	font-weight: bold;

}
h2{
	margin-top: 20px;
}
.date{
	color: #000;
	font-size: 13px;
	margin-top: 8px;
}
.date .value{
	font-weight: 13px;
	font-weight: bold;
}
.date caption{
	float: left;
}
.date tbody{
	text-indent: 55px;
}
.data{
	border-collapse: collapse;
	box-shadow: 2px 2px 2px #888888;
    color: #000;
	margin: 8px auto;
}
.data tbody td{
	border: 1px solid #c8c8c8;
	color: #333333;
	font-family: 'Century Gothic',sans-serif;
    font-size: 12px;
	padding: 4px;
	text-align: center;
}
.data thead{
	background-color: #262626;
    border: medium none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.data .total td{
	font-weight: bold;
}
.red{
	color:red;
	font-size: 16px;
	font-weight: bold;
}
.button{
	margin-top: 35px;  
}
aside{
	float: left;
	margin: 20px 0px 0 102px;
}
aside a{
	display: block;
	margin-top: 5px;
}
.summary{
	box-shadow: 2px 2px 2px #888888;
    margin-top: 30px;
}
.summary tr td{
	border: 1px solid #c8c8c8;
	padding: 10px;
}
.summary tr td:first-child {
font-weight: bold;
}
 input [type="text"]{
	margin: 5px;
}