body{
	background-color:#fff;
	color: #000;
	font-family: 'Mouse Memoirs', sans-serif;
	margin:0 auto;
}
.page-holder{
	margin: 0 auto;
	width: 960px;
}
#content{
	margin: 20px 0 0 20px;	
}
#content h1{
	color: #000;
	font-size: 2em;
}
#content form{
	margin-top: 10px;
}
#content form label{
	color: #000;
	display: block;
	font-size: 18px;
	margin-bottom: 12px;
	text-align: center;
}
form p{
	color: #000;
	font-size: 18px;
	text-align: center;
}
form .search_bar{
	border:1px solid #017D7D;
	border-radius: 5px;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 17px;
	height: 22px;
	padding-left: 4px;
	width: 300px;
}
form .search_btn{
	background-color: #D74F2A;
	border: 1px solid #505050;
	border-radius: 4px;
	box-shadow: 2px 2px #000;
	cursor: pointer;
	font-family: 'Love Ya Like A Sister', cursive;
	height: 24px;
	margin-left: 10px;
	width: 70px;
}
form .search_btn:hover{
	background-color: #f9a834;
}
form .search_btn:active{
	position: relative;
	top: 1px;
}
.batch{
	color:#000;
	margin-top: 20px;
	text-align: center;
}
hr{
	margin-bottom: 20px;
	margin-top: 20px;
}
.employee label{
	color: #000;
	font-size: 18px;
}
.employee span{
	color: #000;
	font-size: 20px;

}
h2{
	margin-top: 20px;
}
.date{
	color: #000;
	font-size: 18px;
	margin-top: 8px;
}
.date caption{
	float: left;
}
.date tbody{
	text-indent: 55px;
}
.data{
    color: #000;
	margin: 8px auto;
	width: 900px;
}
.data tr td{
	border-color: #1C9CE5;
	font-size: 18px;
	padding: 6px 3px 6px 3px;
	text-align: center;
}
.data tr:nth-child(odd){
	background: none repeat scroll 0 0 #1C9CE5;
}
.data thead{
	background: none repeat scroll 0 0 #1FAEFF;
    border-color: #1FAEFF;
}
.red{
	color:red;
	font-size: 16px;
	font-weight: bold;
}
.button{
	float: left;
	margin: 40px 0 0 30px;    
}
.summary{
	float: right;
    margin: 14px 36px 15px 0;
}
.summary tr td{
	border: 1px solid #000;
	padding: 10px;
}