body{
	background-color:#fff;
	font-family: 'Century Gothic',sans-serif;
	font-size: 12px;
	margin:30px;
}
.page-holder{
	margin: 0 auto;
	width: 960px;
}
#content{
	margin: 20px 0 0 20px;	
}
#content h1{
	color: #333333;
}
#content .search{
	background-color: #F9F9F9;
    box-shadow: 2px 2px 3px #888888;
    margin: 0 auto;
    padding: 41px;
    width: 384px;
}
#content form label{
	color: #333333;
	display: inline;
	font-size: 12px;
}
.search_label{
	bottom: 10px;
	left: 55px;
	position: relative;
}
.batch_name{
	padding-left: 20px;
}
select{
	margin: 0 auto;
}
form p{
	color: #000;
	font-size: 14px;
	text-align: center;
}
.btn {
    position: relative;
    right: 20px;
}
.batch{
	color:#000;
	font-size: 13px;
	font-weight: bold;
	margin-left: 830px;
}
hr{
	color: #262626;
	margin-bottom: 20px;
	margin-top: 20px;
}
.employee label{
	color: #000;
	font-size: 13px;
	float: left;
}
.employee span{
	color: #000;
	font-size: 13px;
	font-weight: bold;

}
h2{
	margin-top: 20px;
}
.date{
	color: #000;
	font-size: 13px;
	margin-top: 8px;
}
.date .value{
	font-weight: 13px;
	font-weight: bold;
}
.date caption{
	float: left;
}
.date tbody{
	text-indent: 55px;
}
.data{
	border-collapse: collapse;
	box-shadow: 2px 2px 2px #888888;
    color: #000;
	margin: 8px auto;
	width: 800px;
}
.data tbody td{
	border: 1px solid #c8c8c8;
	color: #333333;
	font-family: 'Century Gothic',sans-serif;
    font-size: 12px;
	padding: 6px 3px 6px 3px;
	text-align: center;
}
.data thead{
	background-color: #262626;
    border: medium none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.data .total td{
	font-weight: bold;
}
.red{
	color:red;
	font-size: 16px;
	font-weight: bold;
}
.button{
	float: left;
	margin: 40px 0 0 80px;    
}
.summary{
	box-shadow: 2px 2px 2px #888888;
	float: right;
    margin: 14px 80px 15px 0;
}
.summary tr td{
	border: 1px solid #c8c8c8;
	padding: 10px;
}
.summary tr td:first-child {
font-weight: bold;
}