body{
    font-family: 'Century Gothic', sans-serif;
}
#user_settings{
	text-align: center;
   margin: 120px 0 20px 0;
}
#user_settings .btn {
    padding: 19px 24px;
    font-size: 24px;
    font-weight: 200;
    width:150px;
    color: #fff;
    border: none;
}
#user_settings .pro{
	margin-top: 40px;
}
#top-btn{
  float: right;
}
#top-btn{
  position: fixed;
  top: 15px;
  z-index: 2;
  right: 20px;
}
#top-btn a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#top-btn a#refresh-btn{
  background: url(../images/refresh-icon.png) no-repeat scroll 0 0 transparent;
  display: inline-block;
  width: 30px;
  height: 35px;
  text-indent: -9999px;
  margin-right: 10px;
}
#top-btn a#close-btn{
  background: url(../images/close-icon.png) no-repeat scroll 0 0 transparent;
  display: inline-block;
  width: 30px;
  height: 35px;
  text-indent: -9999px;
  margin-right: 25px;
}
header{
  background-color: #454647;
  box-shadow: 1px 1px 5px #777;
  position: fixed;
  top: 0;
  height: 63px;
  width: 100%;
  z-index: 2;
}
header h1{
  text-shadow: -2px -3px 1px #000;
  color: #fff;
  font-size: 23px;
  float: left;
  font-family: 'Century Gothic', sans-serif;
  margin-left: 35px;
}