* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	font-family:'Mouse Memoirs',sans-serif;
	background-color:#262626;
	color:#fff;
}
.clear {
	clear:both;
	display:block;
	visibility:hidden;
}
#header-container {
	margin:auto 50px;
	position:relative;
}
header h1 a {
	font-size:50px;
	float:left;
	margin-top:30px;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	color:#fff;
	text-shadow:1px 1px 2px #000;
}
header #date_time {
	display:block;
	font-size:25px;
	float:right;
	width:185px;
	text-align:right;
	margin-top:25px;
	text-shadow:1px 1px 2px #000;
}
header span.seglogo {
	color:#0095d1;
}
aside{
	height: 570px;
	overflow: auto;
}
aside #accordion ul {
	list-style: none;
	padding: 0 0 0 0;
	display: none;
}
aside #accordion li {
	margin-bottom:0px;
	list-style:none;
	padding:0;
	float:left;
	width:100%;
	opacity:1;
	overflow:hidden;
}
aside #accordion li a {
	display:block;
	font-size:16px;
	font-family:'Century Gothic',sans-serif;
	text-decoration:none;
	padding:30px 20px;
	color:#AEAEAE;
	text-shadow:1px 1px 2px #000;
	height:80px;
	float:left;
	width:100%;
}
aside #accordion a:hover,aside #accordion a.active {
	-moz-transition:background-color 1s ease 0s;
	-webkit-transition:background-color 1s ease 0s;
	-o-transition:background-color 1s ease 0s;
}
#recordMenu{
	background: url(../images/newtab-icon-mini.png) no-repeat scroll 230px center transparent;
	height: 18px;
	width: 20px;
}
#homeMenu:hover,#homeMenu.active {
	background-color:#2572EB;
	color:#fff;
}
#recordMenu:hover,#recordMenu.active {
	background-color:#4CC40B;
	color:#fff;
}
#listMenu:hover,#listMenu.active {
	background-color:#E4031D;
	color:#fff;
}
#settingMenu:hover,#settingMenu.active {
	background-color:#FFCC00;
	color:#fff;
}
#importMenu:hover,#importMenu.active {
	background-color:#7301ad;
	color:#fff;
}
#exportMenu:hover,#exportMenu.active {
	background-color:#fd7f03;
	color:#fff;
}
#logout:hover,#logout.active {
	background-color:#ad103c;
	color:#fff;
}
aside #accordion li img {
	float:left;
	margin-right:10px;
	padding:7.5px;
	margin-top:-15px;
}
#homeMenu img {
	background-color:#2572EB;
}
#recordMenu img {
	background-color:#4CC40B;
}
#listMenu img {
	background-color:#E4031D;
}
#settingMenu img {
	background-color:#FFCC00;
}
#importMenu img {
	background-color:#7301ad;
}
#exportMenu img{
	background-color: #fd7f03;
}
#logout img {
	background-color: #ad103c;
}
/* Calendar */
#calendar {
	margin:40px auto;
	width:800px;
}
