#content-list-employee .search form p {
	text-align: center;
}
#content-list-employee .search form{
	text-align: center;
}
.search{
	border: 1px solid rgb(255, 255, 255);
	padding: 41px;
	width: 384px;
	margin-left: 115px;
	background-color: #ffffff;
}
#content-list-employee table{
	margin-top :50px;
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
#content-list-employee table th {
	background:#AFEEEE;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
#content-list-employee table td 
{
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
tr:nth-child(even) {
	background: #CCC
}
tr:nth-child(odd) {
	background: #FFF
}
