.profile_pic .img_holder{
	float: right;
	width: 200px;
}
.fill-up-form{
	margin-top: 50px;
}
.fill-up-form table{
	border:none;
	font-family:verdana,arial,sans-serif;
	font-size:10pt;
	width: 400px;
}
.fill-up-form table label{
	font-family:verdana,arial,sans-serif;
	font-size:10pt;
}