
body{
	font-family: 'Mouse Memoirs', sans-serif;
	background-color: #262626;
	color: #fff;
}
#container{
	margin: 0 auto;
	position: relative;
	width: 960px;
}
header{
	background: url(../images/body-bg.jpg) repeat-x scroll 0 0 #000;
	border-bottom: solid 1px #222628;
	min-height: 300px;
}
header h1 a{
	font-size: 50px;
	float: left;
	margin-top: 30px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	color: #fff;
	
}
header #date_time{
	display: block;
	font-size: 25px;
	float: right;
	width: 185px;
	text-align: right;
	margin-top: 25px;
	
}
aside{
	padding: 34px;
}
aside nav a{
	display: block;
	color: #fff;
	font-size: 16px;
	font-family:'Century Gothic',sans-serif;
	text-decoration: none;
	margin-bottom: 30px;
}
aside nav #homeMenu:hover{
	background-color: #2572EB ;
}