body {
	font-family:'Century Gothic',sans-serif;
	font-size:12px;
	margin:30px;
	background-color:#E4031D;
	}
#content-view-profile img{
	float: right;
}
.info{
	margin-top: 126px;
}
.info input{
	margin-top: 40px;
}
#hourly_rate:hover{
	background-color: #FFF;
}
#ot_rate:hover{
	background-color: #FFF;
}
#night_premium:hover{
	background-color: #FFF;
}
#credit:hover{
	background-color: #FFF;
}