#content-view-profile img{
	float: right;
}
.information{
	margin-top: 126px;
}
.information table{
	font-family:verdana,arial,sans-serif;
	font-size:10pt;
	border: none;
}
.information input{
	margin-top: 40px;
}
.information table th {
	padding: 8px;
}
.information table td 
{
	padding: 8px;
}
#hourly_rate:hover{
	background-color: #FFF;
}
#ot_rate:hover{
	background-color: #FFF;
}
#night_premium:hover{
	background-color: #FFF;
}
#credit:hover{
	background-color: #FFF;
}